<h1>Hola admin</h1>
<p>Hola hola</p>
<h2>Bienvenido a tu Dashboard</h2>

<!-- Enlace de cierre de sesión -->
<%= button_to 'Cerrar sesión', destroy_user_session_path, method: :delete, data: { confirm: '¿Estás seguro de que quieres cerrar sesión?' } %>

