<div class="contain">
<h1 class="title">New menu</h1>

<%= render "form", menu: @menu,class:"datos"%>

<br>

<div class="cont-link">
  <%= link_to "Back to menus", menus_path,class:"link" %>
</div>

</div>
